@model IEnumerable<MenuVM>

@{
    ViewBag.Title = "Role Configuration";
    var count = 1;
}

<!--Page Header-->
<div class="header">
    <div class="header-content">
        <div class="page-title">
            <i class="icon-user-block position-left"></i>Access permission
        </div>
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Dashboard")"></a></li>
            <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
            <li class="active">Access permission</li>
        </ul>
    </div>
</div>
<!--/Page Header-->

@using (Html.BeginForm("Configuration", "Role", FormMethod.Post, new { id = "frmRoleConfiguration", enctype = "multipart/form-data" }))
{
    @Html.Hidden("hdnUserRoleID", null, new { @id = "hdnUserRoleID", @Value = ViewBag.RoleID })

    <div class="container-fluid page-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group panel-group-control accordion" id="accordion-control">
                    @foreach (var item in Model.GroupBy(s => s.ModuleName))
                    {
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-control" href="#accordion-control-group@(count)">
                                        @(item.FirstOrDefault().ModuleName)
                                    </a>
                                </div>
                            </div>
                            <div id="accordion-control-group@(count)" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th width="15%">Permission</th>
                                                <th>Link Name </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var res in item)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="control-primary" name="IsAccess_@res.LinkID" checked="@res.IsAccess" value="true">
                                                            </label>
                                                        </div>
                                                        @*<input type="checkbox" class="i-checks" name="IsAccess_@res.LinkID" checked="@res.IsAccess" value="true">*@
                                                    </td>
                                                    <td>@res.LinkName</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                        count++;
                    }

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-sm-12">
                    <button id="btnSubmit" type="submit" class="btn btn-primary">Save access permission</button>
                    <a href="@Url.Action("List", "Role")" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </div>
        <br /><br />
    </div>
}




@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#BtnCancel").click(function () {
                location.reload();
                document.getElementById("frmRoleConfig").reset();
            });

        });

    </script>
}
