@model TaskDetailsVm

@{
    ViewBag.Title = "Details";
    var projectfileUrl = BasicProperty.ProjectAttachmentPath + Model.ProjectId + "/";
    var profilePath = BasicProperty.ProfilePath;
    const string defaultImage = "/Content/img/userIcon.jpg";
}

<style>
    .taskDetlHead {
        font-size: 13px;
        font-weight: 500;
        padding-right: 5px;
    }

    .taskDetlBody {
        border-bottom: 1px dotted #1c2b36;
    }
</style>


<div class="header">
    <div class="header-content">
        <div class="page-title">
            <i class="icon-briefcase3 position-left"></i> Task Details
        </div>
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Dashboard")"></a></li>
            <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
            <li class="active">Task Details</li>
        </ul>
    </div>
</div>

@Html.HiddenFor(s => s.TaskMasterId)

<div class="container-fluid page-content">

    <div class="row">
        <div class="col-md-9">

            <!-- Project details -->
            <div class="panel panel-default no-margin-bottom no-border-bottom">
                <div class="panel-heading">
                    <div class="panel-title text-xlg">@Model.Title</div>
                </div>
                <div class="panel-body">
                    <div class="row m-t-5">
                        <div class="col-md-12">
                            <h4 class="m-b-10 text-indigo">
                                @Model.Title
                            </h4>
                        </div>
                        <div class="col-md-12">
                            <h4 class="m-b-10 text-semibold">Description</h4>
                            @Html.Raw(Model.Description)
                            <hr />
                        </div>
                    </div>

                    <div class="panel-body" style="padding: 10px 0 !important;">
                        <div class="tabbable">
                            <ul class="nav nav-tabs nav-tabs-highlight">
                                <li class="active">
                                    <a href="#left-icon-tab1" data-toggle="tab">
                                        <i class="icon-files-empty2"></i> Documents
                                    </a>
                                </li>
                                <li>
                                    <a href="#left-icon-tab2" data-toggle="tab">
                                        <i class="icon-comment-discussion"></i> Comments
                                    </a>
                                </li>
                                <li>
                                    <a href="#left-icon-tab3" data-toggle="tab">
                                        <i class="icon-grid5"></i> Activities
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                @*Comments*@
                                <div class="tab-pane active" id="left-icon-tab1">
                                    Add icon markup <code>before</code> tab nav text to display icons on the left side.
                                </div>
                                @*Documents TAB*@
                                <div class="tab-pane" id="left-icon-tab2">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                </div>
                                @*Activities TAB*@
                                <div class="tab-pane" id="left-icon-tab3">
                                    load partial hERE

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Project details -->
        </div>

        <div class="col-md-3">
            <div class="panel-group panel-group-control panel-group-control-right accordion" id="accordion-control-right">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-control-right" href="#accordion-control-right-group1">Details</a>
                        </div>
                    </div>
                    <div id="accordion-control-right-group1" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <label>
                                <span class="taskDetlHead text-muted">Project: </span>
                                <span class="taskDetlBody">Zemulla</span>
                            </label>

                            <br />
                            <label>
                                <span class="taskDetlHead text-muted">Task Type: </span>
                                <span class="taskDetlBody">Bug</span>
                            </label>

                            <br />
                            <label>
                                <span class="taskDetlHead text-muted">Task Category: </span>
                                <span class="taskDetlBody">Logo design</span>
                            </label>

                            <hr />
                            <label>
                                <span class="taskDetlHead text-muted">Assignee: </span>
                                <span class="taskDetlBody">
                                    <a href="javascript:void(0);" data-placement="top" data-popup="popover" title="Select assignee"
                                       data-html="true" data-content="Add <u>some</u> <i>HTML</i> <strong>stuff</strong>.">
                                        Ankit Kanojia
                                    </a>
                                </span>
                            </label>

                            <br />
                            <label>
                                <span class="taskDetlHead text-muted">Reporter: </span>
                                <span class="taskDetlBody">Suchit Khunt</span>
                            </label>

                            <br />
                            <label>
                                <span class="taskDetlHead text-muted">Task Priority: </span>
                                <span class="taskDetlBody">Dropdown</span>
                            </label>

                            <br />
                            <label>
                                <span class="taskDetlHead text-muted">Task Status: </span>
                                <span class="taskDetlBody">
                                    <a href="javascript:void(0);" onclick="taskStatusPopover()" data-html="true" id="test">
                                        Ankit Kanojia
                                    </a>
                                </span>
                            </label>

                            <br />
                            <label>
                                <span class="taskDetlHead text-muted">Start date: </span>
                                <span class="taskDetlBody">16/04/1993</span>
                            </label>

                            <br />
                            <label>
                                <span class="taskDetlHead text-muted">Goal Date: </span>
                                <span class="taskDetlBody">10/12/2017</span>
                            </label>

                            <br />
                            <label>
                                <span class="taskDetlHead text-muted">Estimate Hours: </span>
                                <span class="taskDetlBody">200</span>
                            </label>

                            <hr />
                            <label>
                                <span class="taskDetlHead text-muted">Completion (%) </span>
                                <br /><br />
                                <div id="noui-slider-connect-lower"></div>
                                <div class="val-demo m-b-5 text-success">Value: <span id="noui-slider-connect-lower-val"></span></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script src="~/Content/lib/js/forms/nouislider.min.js"></script>

    <script>

        function taskStatusPopover() {
            $('#test').popover({
                placement: "top",
                trigger: "manual",
                content: "suchit"
            }).popover("show");
            //$('#target').popover({
            //    placement: "left",
            //    trigger: "manual",
            //    content: $("#popover-content").parent().html()
            //}).popover("show");
        }

        //Change task field value
        function changeTaskField(id) {
            /*
                id == 1 == Assignee
                id == 2 == Reporter
                id == 3 == Priority
                id == 4 == Task Status
                id == 5 == Completion Percentage
            */

            var taskMasterId = $('#TaskMasterId').val();
            var changeValue = 0;

            switch (id) {
                case 1:
                    changeValue = 1;
                    break;
                case 2:
                    changeValue = 2;
                    break;
                case 3:
                    changeValue = 3;
                    break;
                case 4:
                    changeValue = 4;
                    break;
                case 5:
                    changeValue = 5;
                    break;
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangeTaskField", "Tasks")',
                datatype: "json",
                data: { taskMasterId: taskMasterId, changeType: id, changeValue: changeValue },
                success: function (data) {
                }
            });
        }


        $(document).ready(function () {

            //#Start: UI Slider
            var slider_connect_lower = document.getElementById('noui-slider-connect-lower');
            noUiSlider.create(slider_connect_lower, {
                start: 0,
                connect: 'lower',
                range: {
                    'min': 0,
                    'max': 100
                }
            });
            $('#noui-slider-connect-lower').css('width', '226px');
            var slider_connect_lower_val = document.getElementById('noui-slider-connect-lower-val');
            slider_connect_lower.noUiSlider.on('update', function (values, handle) {
                var value = values[handle];
                if (handle) {
                    inputNumber.value = value;
                } else {
                    slider_connect_lower_val.innerHTML = Math.round(value);
                }
                //slider_connect_lower_val.innerHTML = values[handle];
            });
            //#End: UI Slider
        });
    </script>
}