@model List<ChatVm>
@using Repository.Helpers
@{
    ViewBag.Title = "Project Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string messageHeight = string.Empty;
    var roleMasterId = Convert.ToInt64(CookieHelper.GetCookie(CookieName.RoleMasterId));
    if (roleMasterId == (int)EnumList.Roles.Owner)
    {
        messageHeight = "min-height: 100%";
    }
    else
    {
        messageHeight = "min-height: calc(100% - 122px); max-height: calc(100% - 46px)";
    }
}

<div class="header">
    <div class="header-content">
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "froSearchPanel" }))
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Select Project : <span class="text-warning">*</span></label>
                        @Html.DropDownList("ProjectId", SelectListFunction.GetProjects(0), new { @class = "select", @onchange = "GetTaskList(true)" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Select Task : <span class="text-warning">*</span></label>
                        @Html.DropDownList("TaskMasterId", Enumerable.Empty<SelectListItem>(), "-- select task --", new { @class = "select" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Select Date : <span class="text-warning">*</span></label>
                        <div class="input-group">
                            <span class="input-group-addon bg-primary"><i class="icon-calendar"></i></span>
                            @Html.TextBox("ChatDate", null, new { @class = "form-control datepicker-here", data_language = "en", @placeholder = "dd/mm/yyyy" })
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <button type="button" class="btn btn-warning" onclick="FilterChat()"><b><i class="icon-search4"></i></b></button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="panel panel-flat">
    <div class="panel-body">
        <div class="loader06"></div>
        <div class="col-md-10 col-md-offset-1">
            <div id="frame" style="height: 65vh;">
                <div class="content" style="width: 100%;border:1px solid #eee;border-radius: 1%">
                    <div class="messages" style="@messageHeight">
                        <ul id="ChatList">
                            @foreach (ChatVm data in Model)
                            {
                                <li class="@data.Side">
                                    <img src="@data.ProfileImage" alt="" />
                                    <p>@data.Message</p>
                                </li>
                            }
                        </ul>
                    </div>
                    @if (messageHeight != "min-height: 100%")
                    {
                        <div class="message-input">
                            <div class="wrap">
                                <input id="txtMessage" type="text" placeholder="Write your message..." />
                                <button onclick="SendMessage()" class="submit"><i class="icon-paperplane" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/lib/js/forms/datepicker.min.js"></script>
    <script src="~/Content/lib/js/forms/datepicker.en.js"></script>
    <script>

        $(document).ready(function () {

            $('.messages').animate({
                scrollTop: $("#ChatList").find("li").last().offset().top
            }, "slow");
            
            $(".loader06").hide();

            $("#ChatDate").datepicker({
                maxDate: new Date
            });

            $("#froSearchPanel").validate({
                rules: {
                    ProjectId: {
                        required: true
                    },
                    TaskMasterId: {
                        required: true,
                    },
                    ChatDate: {
                        required: true,
                    }
                }
            });

        });

        var GetTaskList = function (type) {
            if (type) {
                var projectId = $("#ProjectId").val();
                if (projectId != 0) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetTasks", "Tasks")',
                        datatype: "json",
                        data: { projectId: projectId, taskId: 0 },
                        success: function (data) {
                            $("#TaskMasterId").html('');
                            if (data.chatList.length != 0) {
                                $.each(data.chatList, function (e, element) {
                                    var selected = '';
                                    if (element.Selected)
                                        selected = 'selected';
                                    $("#TaskMasterId").append("<option value='" + element.Value + "' " + selected + ">" + element.Text + "</option>");
                                });
                            } else {

                                $("#TaskMasterId").append("<option value='' selected>-- select task --</option>");
                            }
                        }
                    });
                } else {
                    $("#TaskMasterId").append("<option value='' selected>-- select task --</option>");
                }
            }
        };

        var FilterChat = function () {
            if ($("#froSearchPanel").valid()) {
                $(".loader06").show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetChatList", "Chat")',
                    datatype: "json",
                    async: false,
                    data: $("#froSearchPanel").serialize(),
                    success: function (data) {
                        if (data.status) {
                            $("#ChatList").html('');
                            $.each(data.chatList, function (e, element) {
                                $("#ChatList").append("<li class='" + element.Side + "'><img src='/FileManagement/Profile/" + element.ProfileImage + "' alt='' /><p>" + element.Message + "</p></li>");
                            });
                        } else {

                        }

                        $(".loader06").hide();
                    }
                });
            }
        }

        var SendMessage = function () {
            var Message = $("#txtMessage").val();
            if (Message.length == 0) {
                NotyError("Please enter message..");
            } else {
                if (!$("#froSearchPanel").valid()) {
                    NotyError("select appropriate [project]  [task]  [date] for chat");
                } else {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SendMessage", "Chat")',
                        datatype: "json",
                        async: false,
                        data: $("#froSearchPanel").serialize() + "&Message=" + Message + "",
                        success: function (data) {
                            if (data.status) {
                                var profileImagePath = $("#smallProfileImage").attr("src");
                                $("#ChatList").append("<li class='replies'><img src='" + profileImagePath + "' alt='' /><p>" + Message + "</p></li>");
                                $('.messages').animate({
                                    scrollTop: $("#ChatList").find("li").last().offset().top
                                }, 5000);
                                $("#txtMessage").val('');
                            }
                        }
                    });
                }
            }
        }

        $("#txtMessage").keyup(function (event) {
            if (event.keyCode == 13) {
                SendMessage();
            }
        });

    </script>
}

